# ===== .NET / Visual Studio =====
bin/
obj/
out/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
*.dll
*.exe
*.pdb

# VS / Rider / VS Code
.vs/
.idea/
.vscode/

# Rider
*.DotSettings.user

# NuGet
*.nupkg
packages/
.nuget/

# Test results
[Tt]est[Rr]esult*/

# Claude Code local files
.claude/

